* {
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, auto);
}

.grid-item {
    border: 1px solid black;
    aspect-ratio: 1;
}

.active {
    background-color: lavender;
}