* {
    margin: 0px;
    padding: 0px;
    background-color: darkslategray;
}

.top-container {
    text-align: center;
}

.top-container button {
    background-color: lightsteelblue;
    border-radius: 1em;
    border: darkolivegreen 0.5em solid;
    font-weight: bold;
    color: darkslategray;
    width: 15em;
    height: 5em;
    margin: 1em;
}

.top-container button:hover {
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    width: 33em;
    margin: auto;
    border: darkolivegreen solid 1em;
    border-radius: 1em;
}

.grid-item {
    background-color: lightsteelblue;
    aspect-ratio: 1;
}

.active {
    background-color: black;
}